@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Chewy&display=swap");

@import "tailwindcss";

/* =====================
   CSS VARIABLES
===================== */
:root {
  /* BRAND COLORS */
  --primary-bg: #1f3d2b; /* Deep Forest Green */
  --secondary-bg: #f6f8f5; /* Off White Background */

  --primary-color: #c9a24d; /* Luxury Gold (Accent) */
  --secondary-color: #8fbfa3; /* Sage Green */

  /* TEXT COLORS */
  --text-primary: #1e1e1e; /* Main Text */
  --text-light: #ffffff; /* White Text */
  --text-muted: #9dafa3; /* Muted / Subtext */

  /* BORDERS & UI */
  --border-color: #d6e2da;
  --hover-bg: #163023;

  /* FONTS */
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

.font-heading {
  font-family: var(--font-heading);
}

/* loader css */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #0000}
}
/* GOOEY BASE */
.gooey-btn {
  width: 56px;
  height: 56px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.3s ease;
  font-size: 20px;
}

/* MAIN BUTTON */
.main-btn {
  background: linear-gradient(135deg, #10b981, #14b8a6);
  box-shadow: 0 10px 30px rgba(16, 185, 129, 0.5);
  position: relative;
  z-index: 10;
}

/* CHILD BASE */
.child-btn {
  opacity: 0;
  pointer-events: none;
}

/* OPEN STATE */
.child-btn.open {
  opacity: 1;
  pointer-events: auto;
}

/* POSITIONS (UPWARD ARC) */
.fb.open {
  transform: translateY(-80px);
}
.ig.open {
  transform: translate(-50px, -60px);
}
.yt.open {
  transform: translate(50px, -60px);
}
.ln.open {
  transform: translateY(-120px);
}

/* COLORS */
.fb {
  background: #1877f2;
}
.ig {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.yt {
  background: #ff0000;
}
.ln {
  background: #0a66c2;
}
